# Python
__pycache__/
*.py[cod]
*$py.class
.env
.env.production
.venv
env/
venv/
build/
dist/

# Dataset & Databases
data/raw/*.jsonl
data/analysis/*.jsonl
data/chroma_db_reference/
data/chroma_db_suspicious/
data/verification_history.jsonl
data/report.html
check_data.py

# Logs
logs/

# IDEs
.vscode/
.idea/

# Testing
.pytest_cache/
